		* {
		padding: 0;
		margin: 0;
 		font-family:"Trebuchet MS", Helvetica, sans-serif;
		/* 		font-family:Arial, Helvetica, sans-serif;
		font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;*/
		}

		body,html {
			height: 100%;
		}
		#map {
			width: 100%;
			height: 100%;
			min-height: 100%;
			/*width: 750px; 
			height: 600px;*/
		}
		
		* html #map {
			/*height: 100%;*/
		}
		#up{
			height:42px;
		}
		h1{
			width:200px;
			clear:right;
			float:left;	
		}
		#upload{
			width: 27px;
			height: 27px;
			float:right;
			padding-top:5px;
			padding-right: 10px;
		}
		#content{
			position: absolute; 
			float: left;
			top: 0px;
			width: 270px;
			height: 97%;
			background-color: white; 
			padding: 6px 6px 12px 12px;
			box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
		}
		#box {
			/*width: 392px;*/
			/*position: absolute; */
			/*top: 10px; */
			/*right: 10px; */
			background-color: white; 
			padding: 10px;
			z-index: 1000;
			border-top: solid;
			border-bottom: solid;
			border-width: 3px;
			border-color: black;
			border-radius: 5px;
		}
		#bibox{
			background-color: white; 
			font-size: 14px;
			/*width: 392px;
			position: absolute; */
			/*top: 150px; */
			/*right: 10px; */
			padding: 10px;
			z-index: 1000;
			border-top: solid;
			border-bottom: solid;
			border-width: 3px;
			border-color: black;
			border-radius: 5px;
			/*border-top: solid;
			border-bottom: solid;
			border-width: 3px;
			border-color: black;
			border-radius: 5px;	*/

		}
		#bibox form{
			margin-top: 10px;
		}
		#bibox p{
			margin-bottom: 5px;
		}
		#contentBis{
			position: absolute;
			z-index: 1000;
    			left: 11px;
    			right: 10px;
			top: 100px;
			height:0px; 
		}
		#tribox{
			width: 175px;
			/*position: absolute; 
			top: 165px; 
			right: 10px;*/
			/*padding: 10px;
			position: absolute;
			z-index: 1000;
    			left: 1105px;
    			right: 10px;
			top: 108px; 
			z-index: 7;*/

  clear: left;
    float: right;

			z-index: 7;
			/*border-style: solid;
			border-width: 3px;
			border-color: black;*/
			border-radius: 5px;
   			background: #fff none repeat scroll 0 0;
    			color: #333;
    			padding: 6px 10px 6px 6px;
			box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
			cursor: auto;
 			font: 12px/1.5 "Helvetica Neue",Arial,Helvetica,sans-serif;
			box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);

		}
		fieldset{
			border: none;
		}
		#box img {
			margin-left: 10px;
			margin-right: 5px;
			cursor: pointer;
			width: 50px;
			height: 55px;
		}
		table{
			margin: 5px;
		}

		h3{
    			margin-top: 0px;
    			margin-bottom: 18px;
		}
		td{
			vertical-align:top;
			padding-right: 5px;
			padding-bottom: 5px;
		}
		
